@font-face {
  font-family: 'Miama';
  font-style: 'nomal';
  font-weight: 400;
  src: local('Miama'),
    url('/public/static/fonts/Miama.ttf') format('truetype'),
    url('/public/static/fonts/Miama.otf') format('opentype');
}

.App {
  text-align: center
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
